// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
$fg-color: #{"@theme_fg_color"};
$bg-color: #{"@theme_bg_color"};

image {
  -gtk-icon-size: 20px;
}

button {
  // Figure out where the outline rule is coming from
  outline: none;
  border-radius: 8px;
  margin: 2px;
}

window.Bar {
  background: transparent;
  color: $fg-color;
  font-weight: bold;
  font-family: "JetBrainsMono Nerd Font";

  >centerbox {
    background: $bg-color;
    border-radius: 8px;
    margin: 8px 8px 0;
  }
}
