// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
$fg-color: #{"@theme_fg_color"};
$bg-color: #{"@theme_bg_color"};

* {
  font-weight: bold;
  font-family: "JetBrainsMono Nerd Font";
  outline: none; // Disable outline on focusable elements
}

button {
  background-color: $bg-color;
  border-radius: 8px;
}

window.Bar {
  color: $fg-color;
  background: transparent;

  image {
    padding: 0 2px;
    -gtk-icon-size: 1.25em;
  }

  >centerbox {
    background-color: $bg-color;
    border-radius: 8px;
    margin: 8px 8px 0;
    padding: 2px;

    .sys-tray {
      menubutton.tray-item button {
        padding: 4px;
        margin: 0;
      }
    }
  }
}
